<template>
  <div class="project-card">
    <b-container>
      <b-row align-content="center" align-h="center" align-v="center">
        <b-col cols="12" md="6" lg="4" xl="3">
          <!-- Top Note -->
          <div class="top-text">{{ toptext }}</div>

          <!-- Middle Card-box -->
          <div class="mainbox">
            <span class="orangeline" />
            <div class="inner">
              <p v-html="daysLeft" />
              <p>{{ content }}</p>
              <b-form class="form">
                  <b-input-group prepend="$">
                    <b-form-input v-model="price" />
                  </b-input-group>
                <b-button variant="primary">Give Now</b-button>
              </b-form>
              <a href="#">Why give ${{ price }}?</a>
            </div>
          </div>

          <!-- Bottom Buttons -->
          <div class="buttons">
            <a
              v-for="button in buttons"
              :key="button.text"
              :href="button.link"
              >{{ button.text }}</a
            >
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "project-card",
  data() {
    return {
      price: 50,
      toptext: "$167 still needed for this project",
      daysLeft: `<span>Only 3days Left</span> to fund this project.`,
      content:
        "join the 42 wjbdv jo woh oiwh voiwh voihw oivh woihv iohw oivh owih voi woi voiw.",
      buttons: [
        { link: "#", text: "Save for later" },
        { link: "#", text: "Tell your friends" },
      ],
    };
  },
};
</script>

<style>
.project-card {
  margin: 2rem auto;
}

.top-text {
  position: relative;
  background: #424242;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 12px;
  display: block;
}
.top-text::after {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 12px;
  height: 12px;
  background: #424242;
  right: 12%;
  transform: rotate(45deg);
}

.mainbox {
  display: block;
  border: 1px solid #eaeaea;
  margin-bottom: 12px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(66, 66, 66, 0.25);
  -moz-box-shadow: 0px 2px 2px 0px rgba(66, 66, 66, 0.25);
  box-shadow: 0px 2px 2px 0px rgba(66, 66, 66, 0.25);
}

.mainbox > .orangeline {
  display: block;
  border-bottom: 1px solid #eaeaea;
  min-height: 10px;
  width: 100%;
  position: relative;
}

.orangeline::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 100%;
  background: #ef5f3c;
}

.mainbox > .inner {
  padding: 1.2rem;
}

.mainbox > .inner p {
  font-size: 15px;
  color: #777;
}

.mainbox > .inner p > span {
  color: #ef5f3c;
  font-weight: bold;
}

.mainbox > .inner > .form {
  display: flex;
  justify-content: space-between;
}

.mainbox > .inner > .form > .input-group,
.mainbox > .inner > .form > button {
  flex-basis: 46%;
  width: 100%;
  min-height: 50px;
  box-shadow: none;
}

.mainbox > .inner > .form > .input-group{
  border: 1px solid #ced4da;
}

.input-group .input-group-prepend .input-group-text{
  min-height: 50px;
  background: #fff;
  border: none;
  padding: 0.375rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #777;
}

.mainbox > .inner > .form > .input-group > .form-control{
  border: none;
  box-shadow: none;
  padding-left: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.mainbox > .inner > .form > button {
  background: #1cbc2c;
  border-color: #1cbc2c;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.mainbox > .inner > .form > button:hover {
  background: #279a32;
  border-color: #279a32;
}

.mainbox a {
  font-size: 0.9rem;
  color: #20a1d4;
  text-decoration: none;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons a {
  color: #424242;
  background: #eaeaea;
  border: 1px solid #ced4da;
  padding: 10px;
  flex-basis: 46%;
  width: 100%;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(66, 66, 66, 0.25);
  -moz-box-shadow: 0px 2px 2px 0px rgba(66, 66, 66, 0.25);
  box-shadow: 0px 2px 2px 0px rgba(66, 66, 66, 0.25);
}

.buttons a:hover {
  color: #424242;
  background: #ced4da;
}
</style>
