<template>
  <div id="app">
    <project-card />
  </div>
</template>

<script>
import ProjectCard from "./components/ProjectCard.vue";

export default {
  name: "App",
  components: {
    ProjectCard,
  },
};
</script>

<style>
 @import url("https://use.typekit.net/fss0vwi.css");
/* Global resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "rooney-sans", sans-serif;
  color: #424242;
  line-height: 1.4;
}

</style>
